@import '../../styles/base/variables';

.header {
  background-color: $color-primary;

  &__container {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  &__nav {
    padding-left: 40px;
  }

  &__auth {
    margin-left: auto;
  }
}
