@import '../../../styles/base/variables';

.link-button {
  white-space: nowrap;
  border: none;
  background-color: $color-primary;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
  cursor: pointer;
}
